@import url("./all.min.css");
@import url("./icofont.min.css");
@import url("./normalize.css");
@import url("./responsive.css");
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
    font-family: HelveticaNeue-Roman, HelveticaNeue-Light, Helvetica Neue, Calibri, Helvetica, Arial, sans-serif;
}

.heading__primary-main {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.heading__primary-sub {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Comfortaa', cursive;
}

.company--image {
    height: 7rem;
}

/*==========================================*/
/*================ HEADER ==================*/
/*==========================================*/

.header .header__navbar {
    background-color: #fff;
    box-shadow: 0 0 25px -1px #c2dada;
}


.header .header__navbar .header__navbar-brand {
    display: -webkit-box;
    display: flex;
    font-size: 2.7rem;
    color: black;
    font-weight: bold;
}


.header .header__navbar .header__nav-item .header__nav-link {
    font-size: 1.6rem;
    font-weight: 500;
    border: 1.2px solid #008080;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    margin-left: 1rem;
    width: 65px;
    padding: .8rem 0;
    text-align: center;
    color: black;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header .header__navbar .header__nav-item .header__nav-link:hover {
    background-color: #008080;
    color: white;
}

.header .header__navbar .header__nav-icon .header__nav-link-icon img {
    height: 3.1rem;
}

.header .header__navbar .header__nav-item:last-child .header__nav-link span:first-child {
    margin-right: 1rem;
    font-size: 1.7rem;
}

.header .header__navbar .header__navbar-nav .header__mobile--nav {
    display: -webkit-box;
    display: flex;
}

@media only screen and (max-width: 992px) {
    .header .header__navbar .header__navbar-nav {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .header .header__navbar .header__navbar-nav .header__mobile--nav {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }

}

/*==========================================*/
/*================ BANNER ==================*/
/*==========================================*/
.banner--section {
    margin-top: 6.4rem;
    position: relative;
}


.banner--section .banner__content-col .banner__text h4 {
    color: #ffffff;
    font-size: 3.3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-align: center;
    margin-bottom: 3rem;
}


.banner--section .banner__content-col .banner__text h4 span {
    color: #03c2c2;
}


.banner--section .banner__content-col {
    position: relative;
    top: -220px;
}



.banner--section .banner__content--last {
    position: relative;
    top: -250px;
    z-index: 999;
}


.banner--section .banner__content--last .select__menu {
    margin-bottom: 2rem;
}

.banner--section .banner__content--last .select__menu li {
    display: inline-block;
    margin-right: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100px;
    padding: 1.1rem 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.banner--section .banner__content--last .select__menu li:hover {
    background-color: #068585;
}

.banner--section .banner__content--last .select__menu li:hover a {
    color: white;
}

.banner--section .banner__content--last .select__menu li a:link,
.banner--section .banner__content--last .select__menu li a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.banner--section .banner__content--last .banner__form-control-search {
    height: 40px;
    font-size: 1.7rem;
    color: rgb(126, 126, 126);
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}

.banner--section .banner__content--last .banner__form-control-search:focus {
    border: 1px solid white;
    box-shadow: 0 0 0 -1px white;
}

.banner--section .banner__content--last .banner__form-control-search::-webkit-input-placeholder {
    color: rgb(168, 167, 167);
}

.banner--section .banner__content--last .banner__form-control-search::-moz-placeholder {
    color: rgb(168, 167, 167);
}

.banner--section .banner__form-control-search:-ms-input-placeholder {
    color: rgb(168, 167, 167);
}

.banner--section .banner__form-control-search::-ms-input-placeholder {
    color: rgb(168, 167, 167);
}

.banner--section .banner__form-control-search::placeholder {
    color: rgb(168, 167, 167);
}

.banner--section .banner__input-group-prepand .banner__input-group-text {
    background-color: #fff;
    cursor: pointer;
}

.banner--section .banner__input-group-prepand .banner__input-group-text i {
    font-size: 1.9rem;
    color: #0aadad;
}



.banner--section .body__scroll-down a:link,
.banner--section .body__scroll-down a:visited {
    text-decoration: none;
    color: rgb(238, 238, 238);
}


.banner--section .body__scroll-down a {
    font-size: 4.8rem;
    position: absolute;
    top: 200%;
    left: 47%;
}


/*==========================================*/
/*================ CITY--LIST ==================*/
/*==========================================*/


.city__list--section .city__list-content .row {
    margin-bottom: 4.1rem;
}


.city__list--section .fx1 .item {
    padding: 0;
}

.city__list--section .fx1 .item img {
    padding: 0 !important;
    display: block;
    width: 280px;
    height: 170px;
    margin: 10px 0px;
}


.city__list--section .fx1 a:hover .item img,
.city__list--section .fx1 a:focus .item img {
    opacity: 0.8;
    background-color: #3b5998;
}



.city__list--section .fx1 a .item h4,
.city__list--section .fx1 a .item p {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.city__list--section .fx1 a .item h3,
.city__list--section .fx1 a .item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    right: 0;
}

.city__list--section .fx1 a .item h4 {
    position: absolute;
    top: 26%;
    left: 10%;
    font-size: 2rem;
    text-align: left;
    opacity: 0;
}

.city__list--section .fx1 a:hover .item h3,
.city__list--section .fx1 a:focus .item h3 {
    opacity: 0;
}

.city__list--section .fx1 a:hover .item h4,
.city__list--section .fx1 a:focus .item h4 {
    opacity: 1;

}

.city__list--section .fx1 a .item p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    padding: 2rem;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 34%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    text-align: left;
    opacity: 0;
}

.city__list--section .fx1 a:hover .item p,
.city__list--section .fx1 a:focus .item p {
    opacity: 1;

}

@media only screen and (max-width: 992px) {
    .city__list--section .fx1 a .item p {
        font-size: 1.6rem;
    }
}






/*==========================================*/
/*================ ADD--LIST ==================*/
/*==========================================*/

.add__listing--section {
    background-image:
        -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.1))),
        url("../image/hotel-img.jpg");
    background-image:
        linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
        url("../image/hotel-img.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 7rem;
}


.add__listing--section .add__listing__content .add__list-button {
    position: absolute;
    top: 40%
}

.add__listing--section .add__listing__content .add__list-button p a:link,
.add__listing--section .add__listing__content .add__list-button p a:visited {
    text-decoration: none;
    font-size: 2.4rem;
    background-color: #0a5c5c;
    color: white;
    padding: 1.3rem 2.5rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.add__listing--section .add__listing__content .add__list-button p a:hover {
    background-color: rgb(250, 250, 250);
    border-color: #0a5c5c;
    color: #0a5c5c;
}

.add__listing--section .add__listing__content .add__list-button p:nth-child(2) {
    padding-top: 7rem;
}

.add__listing--section .add__listing__content .add__list-button p:nth-child(2),
.add__listing--section .add__listing__content .add__list-button p:nth-child(3) {
    font-size: 2rem;
    color: white;
}


/*==========================================*/
/*================ INFO--TEXT ==================*/
/*==========================================*/

.info--text .info__content {

    padding-bottom: 6rem;
}


.info--text .card-deck {
    margin-top: 7rem;
}

.info--text .card-deck .card {
    text-align: center;
    border: none;
}


.info--text .card-deck .card .card--icon p {
    font-size: 2.9rem;
    color: #008080;
}

.info--text .card-deck .card .card-title {
    font-size: 2.1rem;
    font-weight: bold;
    color: #09aaaa;
}

.info--text .card-deck .card .card-text {
    font-size: 1.7rem;
    word-spacing: .1rem;
}


.info--text .card-deck .card .card-text span {
    color: #0a5c5c;
    font-weight: bold;
}


/*==========================================*/
/*================ FOOTER==================*/
/*==========================================*/

.footer {
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.footer .footer__company--logo {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 1rem;
}

.footer .footer__content--box {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.footer .footer__content--box .footer__content:first-child ul:nth-child(2) {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer .footer__content--box .footer__content:first-child ul:nth-child(2) li a {
    font-size: 1.3rem;
    color: white;
}

.footer .footer__content--box .footer__content:first-child ul:nth-child(2) li a {
    padding: .6rem .8rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.footer .footer__content--box .footer__content:first-child ul:nth-child(2) li:first-child a {
    background-color: #3b5998;
}

.footer .footer__content--box .footer__content:first-child ul:nth-child(2) li:nth-child(2) a {
    background-color: #00acee;
}

.footer .footer__content--box .footer__content:first-child ul:nth-child(2) li:last-child a {
    background:
        linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.footer .footer__content--box .footer__content ul li {
    list-style: none;
    margin-bottom: .5rem;
}

.footer .footer__content--box .footer__content ul li a:link,
.footer .footer__content--box .footer__content ul li a:visited {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(36, 36, 36);

}

.footer .footer__content--box .footer__content ul li a:hover {
    color: #0a5c5c;
}

.footer .footer__content--top-cities {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 207, 207);
    padding-top: 3.9rem;
    padding-bottom: 3rem;
}

.footer .footer__content--top-cities .heading--footer_cities h4 {
    font-size: 2rem;
    font-weight: bold;
}

.footer .footer__content--top-cities .footer__cities--menu p a:link,
.footer .footer__content--top-cities .footer__cities--menu p a:visited {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: .8rem;
    color: rgb(65, 65, 65);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.footer .footer__content--top-cities .footer__cities--menu p a:hover {
    color: #009b9b;
}

.footer .footer__link--content {
    border-top: 1px solid rgb(207, 207, 207);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer .footer__link--content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


@media only screen and (max-width: 767px) {

    .footer .footer__link--content,
    .footer .footer__content--top-cities {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }

    .footer .footer__content--top-cities .heading--footer_cities h4 {
        padding-bottom: 3rem;
    }
}

.footer .footer__link--content .footer__images--content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.footer .footer__link--content .footer__images--content img {
    height: 4rem;
    margin-left: 1rem;
}

.footer .footer__link--content .info--footer_text p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: .7rem;

}

.footer .footer__last-content--box {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 207, 207);
    padding-top: 2.8rem;
}

.footer .footer__last-content--box .footer__last-content p {
    font-size: 1.8rem;
}

.footer .footer__last-content--box .footer__last-content a:link,
.footer .footer__last-content--box .footer__last-content a:visited {
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: 1.8rem;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.footer .footer__last-content--box .footer__last-content a:hover {
    color: #0a5c5c;
}











.listing__banner {
    margin-top: 7rem;
}

/*==========================================*/
/*================ ALL--LIST ==================*/
/*==========================================*/

.all--list {
    margin-top: 15rem;
    padding-bottom: 4rem;
}

.all--list .looking__btn {
    display: -webkit-box;
    display: flex;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 2rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .all--list .looking__btn .list__btn {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .all--list .looking__btn .list__btn a {
        margin-bottom: 2rem;
    }
}



.all--list .looking__text p {
    font-size: 2.8rem;
}

.all--list .list__btn {
    margin-top: .3rem;
}

.all--list .list__btn a {
    text-align: center;
    margin-left: 0.8rem;
}

.all--list .list__btn a:link,
.all--list .list__btn a:visited {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid #008080;
    background-color: #008080;
    color: white;
    border-radius: 5px;
    padding: 1rem 3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.all--list .list__btn a:hover {
    background-color: white;
    color: rgb(31, 31, 31);

}

.all--list .list__select {
    margin-top: 3rem;
}

.all--list .list__select .list__form-control {
    width: 300px;
    font-size: 1.5rem;
    color: rgb(131, 131, 131);
    height: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


.all--list .add__list--new {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}


.all--list .add__list--new .add__new-content {
    border: 1px dotted grey;
    width: 200px;
    padding: 2rem 0;
}

.all--list .add__list--new .add__new-content p {
    font-size: 2rem;
}

.all--list .add__list--new .add__new-content p:first-child a {
    text-decoration: none;
    color: rgb(0, 112, 163);
    font-size: 3rem;
}


.all--list .add__list--img .add---img p span {
    font-weight: bold;
}

.all--list .add__list--img .add---img p span:first-child {
    font-size: 1.6rem;

}

.all--list .add__list--img .add---img p span:nth-child(2) {
    font-size: 2.9rem;

}

.all--list .add__list--img .add---img p span:nth-child(3) {
    font-size: 2rem;
}

.all--list .add__list--img .add---img p span:last-child {
    font-size: 1.5rem;

}

.all--list .add__list--img {
    margin-bottom: 2rem;
}

.all--list .add__list--img .add---img .info--room {
    font-size: 1.6rem;
    font-weight: 500;
}

.all--list .add__list--img .add---img .location {
    font-size: 1.5rem;
    font-weight: 600;
}

.all--list .add__list--img .add---img img:hover {
    opacity: 0.9;
}


/*==========================================*/
/*================USER--PROFILE ==================*/
/*==========================================*/

.user_profile--section {
    margin-top: 10rem;
    padding-bottom: 5rem;
}

.user_profile--section .user__content .user__content--col-1,
.user_profile--section .user__content .user__content--col-2 {
    background-color: rgb(243, 243, 243);
    padding: 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.user_profile--section .user__content .profile__content-box .active--status {
    font-size: 1.9rem;
}

.user_profile--section .user__content .profile__content-box .price__hour {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

}

@media only screen and (max-width: 448px) {
    .user_profile--section .user__content .profile__content-box .price__hour {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;


    }
}

.user_profile--section .user__content .profile__content-box .price__hour p:nth-child(2) {
    margin-top: -1.8rem;
}

.user_profile--section .user__content .profile__content-box .price__hour p:nth-child(2) span {
    font-weight: bold;
}

.user_profile--section .user__content .profile__content-box .price__hour p:nth-child(2) span:first-child {
    font-size: 2rem;
    color: #008080;
}

.user_profile--section .user__content .profile__content-box .price__hour p:nth-child(2) span:nth-child(2) {
    font-size: 4.4rem;
    color: #008080;
}

.user_profile--section .user__content .profile__content-box .price__hour p:nth-child(2) span:nth-child(3) {
    font-size: 3rem;
}

.user_profile--section .user__content .profile__content-box .price__hour p:nth-child(2) span:nth-child(4) {
    font-size: 2rem;
}


.user_profile--section .user__content .profile__content-box .active--status span:first-child {
    margin-right: 1rem;
    color: #008080;
    font-weight: 600;
}

.user_profile--section .user__content .profile__content-box .active--status span:last-child,
.user_info-section .user_info--content .apartment__location-info .active__time span:last-child {
    background-color: rgb(233, 93, 42);
}

.user_profile--section .user__content .profile__content-box p:nth-child(2) {
    font-size: 2.3rem;
    font-weight: 500;
}

.user_profile--section .user__content .profile__content-box p:nth-child(3) {
    font-size: 2.1rem;
    font-weight: 500;
}

.user_profile--section .user__content .profile__content-box p:nth-child(3) i {
    margin-right: 1rem;
}


.user_profile--section .user__content .row {
    margin-bottom: 4rem;
}

.user_profile--section .user__content .profile__content-box p:nth-child(4) span:first-child {
    font-size: 1.8rem;
    color: rgb(209, 0, 0);
}

.user_profile--section .user__content .profile__content-box p:nth-child(4) span:last-child {
    font-size: 1.9rem;
    font-weight: 600;
    margin-left: 1rem;
}

.user_profile--section .user__content .profile__content-box p:nth-child(5) span {
    font-size: 1.6rem;
    font-weight: bold;
}

.user_profile--section .user__content .profile__content-box p:nth-child(6),
.user_profile--section .user__content .profile__content-box p:nth-child(7) {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.user_profile--section .user__content .profile__content-box p:nth-child(8),
.user_profile--section .user__content .profile__content-box p:nth-child(9) {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

.user_profile--section .user__content .user__content--col-2 .user_img {
    text-align: center;
}

.user_profile--section .user__content .user__content--col-2 .user_img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user_profile--section .user__content .user__content--col-2 .user_img .name--user a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: #008080;
}


.user_profile--section .user__content .user__content--col-2 .user_img .spent--times {
    font-size: 2rem;
}


.user_profile--section .user__content .user__content--col-2 .user_img .type--room {
    font-size: 2.3rem;
    font-weight: bold;
}



.user_profile--section .user__content .user__content--col-2 .message--send .form-control {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.user_profile--section .user__content .user__content--col-2 .message--send .btn--send-message {
    font-size: 1.6rem;
}

/*==========================================*/
/*================ PRESS ==================*/
/*==========================================*/

.press--section {
    margin-top: 5rem;
    padding-bottom: 2rem;
}

.press--section .press__content .image__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.press--section .press__content .press__content--button {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 3rem;
}

.press--section .press__content .press__content--button a:link,
.press--section .press__content .press__content--button a:visited {
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

.press--section .press__content .press__content--button p {
    background-color: #0a5c5c;
    border-radius: 3px;
    width: 240px;
    padding: 1rem 0;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.press--section .press__content .press__content--button p:hover {
    background-color: #017c7c;
}

/*==========================================*/
/*================ LOGIN ==================*/
/*==========================================*/

.login--section {
    margin-top: 10rem;
}

.login--section .login__form-content-box .login__info {
    padding-left: 6rem;
}

.login--section .login__form-content-box .login__info p:first-child {
    font-size: 3.5rem;
    font-weight: 500;
    color: rgba(4, 137, 199, 0.92);
}

.login--section .login__form-content-box .login__info p:last-child {
    font-size: 2.2rem;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    color: rgb(158, 158, 158);
}

.login--section .login__form-content-box .form-horizontal .account--info {
    text-align: center;
    padding-top: 1rem;
}


.login--section .login__form-content-box .form-horizontal .account--info p a:link,
.login--section .login__form-content-box .form-horizontal .account--info p a:visited {
    text-decoration: none;

}

.login--section .login__form-content-box .form-horizontal .account--info p:first-child {
    font-size: 1.5rem;
    word-spacing: .1rem;
    padding-bottom: 2rem;
}

.login--section .login__form-content-box .form-horizontal .account--info p:first-child a,
.login--section .login__form-content-box .form-horizontal .account--info p:last-child a {
    border-bottom: 1px solid;
}

.login--section .login__form-content-box .form-horizontal .account--info p:last-child {
    font-size: 1.7rem;
}


/*==========================================*/
/*================ SIGNUP ==================*/
/*==========================================*/



.signup--section {
    margin-top: 12rem;
}

.signup--section .signup__info {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 2rem;
}


.signup--section .signup__info span {
    font-weight: 600;
    font-size: 2rem;
}

.signup--section .signup__info span a {
    font-size: 1.9rem;
    margin-left: 1rem;
}

.signup--section .signup__info p:last-child span:last-child a:link,
.signup--section .signup__info p:last-child span:last-child a:visited {
    color: rgba(0, 174, 255, 0.92);
}

.signup--section .signup__info p:last-child {
    font-size: 1.6rem;
}


.signup--section .form__content--box {
    padding-top: 5rem;
}



.form-horizontal .form-content {
    padding: 1rem;
    background: #fff;
}

.form-horizontal .form-control {
    padding: .8rem .9rem .9rem 1.3rem;
    height: 50px;
    font-size: 1.5rem;
    color: #2b2a2a;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}

.form-horizontal .form-control:focus {
    border-color: #0a5c5c;
    box-shadow: none;
}

.form-horizontal .control-label {
    font-size: 1.5rem;
    color: #ccc;
    position: absolute;
    top: 5px;
    left: 27px;
    text-align: center;
}

.form-horizontal textarea.form-control {
    resize: vertical;
    height: 130px;
}

.form-horizontal .btn-sign {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 10px auto;
    border-radius: 0;
    padding: 1.3rem 6rem;
    border-radius: 7px;
    background-color: #008080;
    color: rgb(233, 233, 233);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.form-horizontal .button__sign {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.form-horizontal .btn-sign:hover {
    background-color: #0a5c5c;
    color: white;
}

.col-sm-6 {
    float: left;
}

/*==========================================*/
/*================ USER--INFO ==================*/
/*==========================================*/

.user_info-section {
    margin-top: 5rem;
}


.user_info-section .user_info--content .apartment__location-info .active__time {
    font-size: 1.8rem;
    color: #029696;
}

.user_info-section .user_info--content .apartment__location-info .active__time span:first-child {
    margin-right: 1rem;
}

.user_info-section .user_info--content .apartment__location-info h4 {
    font-size: 2.3rem;
    font-weight: bold;
}

.user_info-section .user_info--content .apartment__location-info .user_info-location {
    font-size: 1.8rem;
}

.user_info-section .user_info--content .apartment__location-info .user_info-location span:first-child {
    margin-right: 1rem;
}

.user_info-section .user_info--content .apartment__location-info .apartment_address {
    font-size: 1.8rem;
    font-weight: 500;
}




.user_info-section .user_info--content .apartment__amount p span {
    font-weight: bold;
}

.user_info-section .user_info--content .apartment__amount p span:first-child {
    font-size: 1.6rem;
    color: #068585;

}

.user_info-section .user_info--content .apartment__amount p span:nth-child(2) {
    font-size: 4rem;
    color: #068585;
}

.user_info-section .user_info--content .apartment__amount p span:nth-child(3) {
    font-size: 3rem;
}

.user_info-section .user_info--content .apartment__amount p span:last-child {
    font-size: 1.6rem;
}

.user_info-section .user_info--content .apartment__amount {
    text-align: right;
    margin-top: -5rem;

}

@media only screen and (max-width: 448px) {
    .user_info-section .user_info--content .apartment__amount {
        display: none;

    }
}

.user_info-section .user_info--content .apartment_details {
    display: -webkit-box;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}


.user_info-section .user_info--content .apartment_details p {
    font-size: 1.7rem;
    text-align: center;
    padding-right: 1.4rem;
    padding-left: 1.4rem;

}

.user_info-section .user_info--content .apartment_details p:not(:last-child) {
    border-right: 1px solid rgb(212, 212, 212);
}
.user_info-section .user_info--content .apartment_discription {
    margin-top: 2rem;
}
.user_info-section .user_info--content .apartment_discription p:first-child span,
.user_info-section .user_info--content .residence p:first-child span {
    font-size: 1.8rem;
}

.user_info-section .user_info--content .apartment_discription p:first-child span:first-child,
.user_info-section .user_info--content .residence p:first-child span:first-child {
    margin-right: 1rem;
    color: #029696;
}

.user_info-section .user_info--content .apartment_address-details {
    margin-top: 2rem;
    border-top: 1px solid rgb(212, 212, 212);
    padding-top: 3rem;
}

.user_info-section .user_info--content .apartment_address-details p span {
    font-size: 1.8rem;
}

.user_info-section .user_info--content .apartment_address-details p:first-child span:first-child {
    color: #029696;
    margin-right: 1rem;

}


.user_info-section .user_info--content .apartment_discription .description-text,
.user_info-section .user_info--content .apartment_address-details .address-text {
    font-size: 1.7rem;
    text-align: justify;
    word-spacing: .1rem;
}

.user_info-section .user_info--content .residence p:not(:first-child) {
    font-size: 1.7rem;
}

.user_info-section .user_info--content .residence p:not(:first-child) span:first-child {
    margin-right: 1rem;
}

.user_info-section .user_info--content .apartment_discription,
.user_info-section .user_info--content .residence {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.user_info-section .user_info--content .col-content--user .user__info-img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.user_info-section .user_info--content .col-content--user .user__info--name a:link,
.user_info-section .user_info--content .col-content--user .user__info--name a:visited {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 2rem;
}

.user_info-section .user_info--content .col-content--user .user__info-count {
    font-size: 1.8rem;
    font-weight: 600;
}



.user_info-section .user_info--content .col-content--user .user__info-offer {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0aadad;
}



.user_info-section .user_info--content .col-content--user .user__info-varified {
    font-size: 1.5rem;
}


.user_info-section .user_info--content .col-content--user .user__info-varified i {
    color: #0a5c5c;
}




.user_info-section .user_info--content .col-content--user form .user__info--form-control {
    font-size: 1.6rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}



.user_info-section .user_info--content .col-content--user form .btn-user__send {
    font-size: 1.7rem;
    font-weight: bold;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}


.user_info-section .user_info--content .col-content--user .user__contact-info {
    margin-top: 4rem;
}

.user_info-section .user_info--content .col-content--user .user__contact-info p:first-child span {
    font-size: 1.8rem;
}

.user_info-section .user_info--content .col-content--user .user__contact-info p a:link,
.user_info-section .user_info--content .col-content--user .user__contact-info p a:visited {
    text-decoration: none;
    color: black;
}

.user_info-section .user_info--content .col-content--user .user__contact-info p:first-child span i {
    color: #0a5c5c;
    margin-right: 1rem;
}


.user_info-section .user_info--content .col-content--user .user__contact-info p:nth-child(2) {
    font-size: 2.2rem;
    color: grey;
}

.user_info-section .user_info--content .col-content--user .user__contact-info p:nth-child(3) {
    font-size: 1.8rem;
}

.user_info-section .user_info--content .col-content--user .user__contact-info p:nth-child(3) a {
    color: #0a5c5c;
    font-weight: bold;
    font-size: 2rem;
}


.user_info-section .user_info--content .col-content--user .user__contact-info .user__social-contact a {
    font-size: 5rem;
    text-decoration: none;
}

.user_info-section .user_info--content .col-content--user .user__contact-info .user__social-contact a:first-child {
    color: #3b5998;
}

.user_info-section .user_info--content .col-content--user .user__contact-info .user__social-contact a:last-child {
    color: #0e76a8
}


/*******************GOOGLE MAP******************/

iframe {
    width: 100%;
    height: 300px;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    background-color: #ffffff;
    margin-top: 5rem;
    /*border: 0;
      */
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
}

.contact__address--section {
    margin-top: 2rem;
    padding-bottom: 10rem;
}

.google-map {
    margin-top: 3rem;
}




/*==========================================*/
/*========== FORM-ROOM ==========*/
/*==========================================*/

.form__room--section {
    margin-top: 15rem;
    margin-bottom: 9rem;
}

.form__room--section .form__room-content label {
    font-size: 2rem;
    color: #008080;
    font-weight: bold;
}


.form__room--section .form__room-content .form-group {
    margin-bottom: 2rem;
}

.form__room--section .form__room-content .form__room-control {
    height: 34px;
    font-size: 1.8rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form__room--section .form__room-content .form__room-control:focus {
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 0 0 20px -1px #cddfdf;
}


.form__room--section .form__room-content .submit__button {
    display: flex;
    justify-content: center;
}

.form__room--section .form__room-content .submit__button .btn-submit {
    background-color: #008080;
    font-size: 2.2rem;
    color: white;
    padding: 1rem 4rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form__room--section .form__room-content .submit__button .btn-submit:hover {
    background-color: #019494;
}








/*Another style for small or medium devices*/
/*==========================================*/
/*================ NAV-ICON ==================*/
/*==========================================*/


.navbar-toggler {
    outline: 0 !important;
    border: 0;
}

#nav-icon {
    width: 27px;
    height: 25px;
    position: relative;
    bottom: 0px;
    top: 1px;
    margin: 0 auto;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #008080;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    bottom: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 10px;
}

#nav-icon span:nth-child(3) {
    top: 20px;
}

#nav-icon.close span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon.close span:nth-child(2) {
    opacity: 0;
}

#nav-icon.close span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}